@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900');

h1, h2, p, a, .first-letter, .authorName {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

.typo {
  max-width: 740px;
  text-align: left;
  margin: auto;
}

.typo h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 8px;
}

.typo h2 {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding: 0;
  margin: 56px 0 -13px -1.883px;
  text-align: left;
  line-height: 34.5px;
  letter-spacing: -0.45px;
}

.typo p {
  margin-top: 21px;
  font-family: "Lora";
  font-size: 21px;
  letter-spacing: -0.067px;
  line-height: 28.4333px;
}

.typo blockquote {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 44.4px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.68);
  margin: 55px 0 33px 0;
  padding: 0 0 0 50px;
}

.typo .highlighted {
  background: #7DFFB3;
}

.typo .first-letter {
  overflow-wrap: break-word;
  font-family: "Playfair Display", serif;
  font-size: 56px;
  line-height: 54.78px;
  display: block;
  position: relative;
  float: left;
  margin: 0px 7px 0 -5px;
}

.typo .subtitle {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
}

.typo .authorName, .typo .authorSub {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 6px;
}

.typo .authorName a {
  text-decoration: none;
}

.typo .authorName a:hover {
  text-decoration: underline;
}

.typo .authorSub {
  color: rgba(0, 0, 0, 0.54);
}
